<html>
    <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>About</title>
    </head>
    <body class="full">
       <h1 class="about">About the Programmer</h1>
       <p></p>
       <p class="lucy">Lucy has created this website during her course at Upperline Code this summer.  
       She was attempting to recreate the style of a Buzzfeed quiz.  
       To create this website, she has used HTML, Python, and some JavaScript.</p>
       <p class="smile"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png"></p>
    </body>
</html>